
resources:
- service_account.yaml
- role.yaml
- role_binding.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: volume-group-operator
    app.kubernetes.io/managed-by: volume-group-operator
patches:
- path: role_labels_patch.yaml
